body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #f0f0f0;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

/* Estilos para los botones */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

/* Estilos para el enlace convertido en botón */
.sidebar a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

/* Efecto al pasar el mouse sobre el botón */
.sidebar a:hover {
  background-color: #9baabb;
}

/* Estilo para el botón activo */
.sidebar a.active {
  background-color: #0056b3;
  font-weight: bold;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.content {
  margin-left: 280px;
  padding: 20px;
}

.content div {
  margin-bottom: 40px;
}

h2 {
  border-bottom: 1px solid #ddd;
}

/* Efecto al hacer clic en los enlaces */
.sidebar a:hover {
  color: #007bff;
}

/* Estilo para el enlace activo */
.sidebar a.active {
  font-weight: bold;
  color: #007bff;
}
