/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Barra de navegacion*/

.navbar {
  border-bottom: 7px solid #860876;
  border-radius: 0 0 .8rem .8rem;
}

/* Estilos para los bloques de características */
.feature {
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.feature h2 {
  color: #333;
}

.feature p {
  color: #555;
}

.feature ul {
  text-align: left;
  list-style: disc;
  margin-left: 20px;
  color: #555;
}

/* Estilos para el pie de página */
footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

/*Colores para el nav-bar*/

/*HTML y CSS*/
.nav-item:nth-child(2) .nav-link:hover {
  background: linear-gradient(90deg, #E34F26 50%, #1572B6 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Java*/
.nav-item:nth-child(3) .nav-link:hover {
  background: linear-gradient(90deg, #F00 50%, #00F 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*JavaScript*/
.nav-item:nth-child(4) .nav-link:hover {
  background: linear-gradient(90deg, #F7DF1E 50%, #F7DF1E 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Python*/
.nav-item:nth-child(5) .nav-link:hover {
  background: linear-gradient(90deg, #306998 50%, #306998 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Git y GitHub*/
.nav-item:nth-child(6) .nav-link:hover {
  background: linear-gradient(90deg, #6CC24A 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* React */
.nav-item:nth-child(7) .nav-link:hover {
  background: linear-gradient(90deg, #6ba9eb 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* mySQL */
.nav-item:nth-child(8) .nav-link:hover {
  background: linear-gradient(90deg, #4b4dda 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Sobre Nosotros*/
.nav-item:nth-child(9) .nav-link:hover {
  background: linear-gradient(90deg, #860876 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Pruebas*/

/*Fotos de perfil*/

.profile-photo {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.redes-sobre-nosotros {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contenedor-sobre-nosotros {
  display: flex;
  flex-direction: row;
}

.about-descipcion {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: repeating-radial-gradient(#333, #999);
  border-radius: 0 0 2.5rem 2.5rem;
  border-top: 20px solid #aaa;
  padding-top: 20px;
  margin: .5%;
}

.about-descipcion h5 {
  font-size: 2rem;
  text-align: center;
  margin: 12px;
  text-decoration: underline;
  color: #181818;
}

.redes-sobre-nosotros li{
  list-style: none;
  text-align: center;
  margin: 12px;
  align-items: center;
}

.item-descripcion {
  text-decoration: none;
  border: 1px solid;
  border-radius: 1.3rem;
  background-color: #000;
  color: #888;
  padding: 7px;
}