* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.body {
    background: repeating-linear-gradient(90deg, #fffa, #ccc, #ccc, #ccc, #aaa);
}

h1 {
    padding: 10px;
    font-size: 2.4rem;
}

h2 {
    padding: 10px;
    font-size: 1.6rem;
}

p {
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 1.2rem;
}

ul, ol {
    padding-left: 25px;
    list-style: inside;
}

li {
    padding-bottom: 5px;
}

pre {
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    border-radius: 1.25rem;
    background-color: #777;
    margin-left: 20px;
    margin-bottom: 10px;
}

code {
    font-weight: 700;
}