/* Estilos para el cuerpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Barra de navegacion*/

.navbar {
  border-bottom: 7px solid #1fdd39;
  border-radius: 0 0 0.8rem 0.8rem;
}

/* Estilos para la sección lateral */
.lateral {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  top: 0;
  left: 0;
  padding: 20px;
}

/* Estilos para el título */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

div {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
}

/* Estilos para el formulario y botón */
.form-group {
  margin-bottom: 20px;
}

/* Estilos para el botón */
.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilos para el contenedor de ejercicios */
#ejercicio-container {
  margin-top: 40px;
  background-color: #f7f7f7;
  padding: 1rem;
  border: 1px solid #ccc;
}

/* Estilos para el nivel */
#nivel {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

/* Estilos para el ejercicio */
#ejercicio {
  font-size: 16px;
  line-height: 1.6;
}

/* Estilos para la opción seleccionada en el select */
option:checked {
  font-weight: bold;
}

/*Colores para el nav-bar*/

/*HTML y CSS*/
.nav-item:nth-child(2) .nav-link:hover {
  background: linear-gradient(90deg, #e34f26 50%, #1572b6 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Java*/
.nav-item:nth-child(3) .nav-link:hover {
  background: linear-gradient(90deg, #f00 50%, #00f 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*JavaScript*/
.nav-item:nth-child(4) .nav-link:hover {
  background: linear-gradient(90deg, #f7df1e 50%, #f7df1e 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Python*/
.nav-item:nth-child(5) .nav-link:hover {
  background: linear-gradient(90deg, #306998 50%, #306998 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Git y GitHub*/
.nav-item:nth-child(6) .nav-link:hover {
  background: linear-gradient(90deg, #6cc24a 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* React */
.nav-item:nth-child(7) .nav-link:hover {
  background: linear-gradient(90deg, #6ba9eb 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* mySQL */
.nav-item:nth-child(8) .nav-link:hover {
  background: linear-gradient(90deg, #4b4dda 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Generador de Ejercicios */
.nav-item:nth-child(9) .nav-link:hover {
  background: linear-gradient(90deg, #1fdd39 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*Sobre Nosotros*/
.nav-item:nth-child(10) .nav-link:hover {
  background: linear-gradient(90deg, #860876 30%, #181717 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
