/*Barra de navegacion*/

.navbar {
  border-bottom: 7px solid #aaa;
  border-radius: 0 0 .8rem .8rem;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/*Estilos para el menu de Lecciones*/

.lateral, .central {
  position: absolute;
}

.sidebar {
  background-color: #f0f0f0;
  width: 250px;
  padding: 20px;
  overflow-y: auto;
}

/* Estilos para los botones */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

/* Estilos para el enlace convertido en botón */
.sidebar a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

/* Efecto al pasar el mouse sobre el botón */
.sidebar a:hover {
  background-color: #9baabb;
}

/* Estilo para el botón activo */
.sidebar a:active {
  background-color: #0056b3;
  font-weight: bold;
}

/*Estilos para el contenido de las lecciones*/

.content {
  float: left;
  display: block;
  margin-left: 280px;
}

/*Estilos para el pie de página*/

footer {
  position: sticky;
  bottom: auto;
}

/*Colores para el nav-bar*/

/*HTML y CSS*/
.nav-item:nth-child(2) .nav-link:hover {
    background: linear-gradient(90deg, #E34F26 50%, #1572B6 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  /*Java*/
  .nav-item:nth-child(3) .nav-link:hover {
    background: linear-gradient(90deg, #F00 50%, #00F 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  /*JavaScript*/
  .nav-item:nth-child(4) .nav-link:hover {
    background: linear-gradient(90deg, #F7DF1E 50%, #F7DF1E 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  /*Python*/
  .nav-item:nth-child(5) .nav-link:hover {
    background: linear-gradient(90deg, #306998 50%, #306998 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  /*Git y GitHub*/
  .nav-item:nth-child(6) .nav-link:hover {
    background: linear-gradient(90deg, #6CC24A 30%, #181717 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }