/* Reset de estilos para listas y enlaces */
.sidebar {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  color: #0366d6; /* Color de enlaces en GitHub */
}

/* Estilo para la barra lateral */
.sidebar {
  position: absolute;
  background-color: #f6f8fa; /* Color de fondo de la barra lateral en GitHub */
  width: 250px;
  top: 60px; /* Ajustar según el alto de tu barra de navegación */
}

/* Estilo para los elementos de la lista */
.sidebar ul {
  padding: 20px;
}

.sidebar li {
  margin-bottom: 10px;
}

/* Estilo para enlaces activos */
.sidebar a.active {
  font-weight: bold;
}

/* Cambio de estilo al pasar el mouse sobre los enlaces */
.sidebar a:hover {
  text-decoration: underline;
}

/* Estilo para el contenido principal */
.container {
  position: relative;
}

.temario {
  right: 0;
  top: 0;
  float: right;
  display: block;
  padding-left: 50px;
}